%aside.right-sidebar.right-sidebar-expanded.wiki-sidebar.js-wiki-sidebar.js-right-sidebar{ data: { "offset-top" => "50", "spy" => "affix" } }
  .sidebar-container
    .block.wiki-sidebar-header.gl-mb-3.w-100
      %a.gutter-toggle.float-right.d-block.d-md-none.js-sidebar-wiki-toggle{ href: "#" }
        = sprite_icon('chevron-double-lg-right', css_class: 'gl-icon')

      - git_access_url = wiki_path(@wiki, action: :git_access)
      = link_to git_access_url, class: active_nav_link?(path: 'wikis#git_access') ? 'active' : '', data: { qa_selector: 'clone_repository_link' } do
        = sprite_icon('download', css_class: 'gl-mr-2')
        %span= _("Clone repository")

    - if @sidebar_error.present?
      = render 'shared/alert_info', body: s_('Wiki|The sidebar failed to load. You can reload the page to try again.')

    .blocks-container
      .block.block-first.w-100
        - if @sidebar_page
          = render_wiki_content(@sidebar_page)
        - elsif @sidebar_wiki_entries
          %ul.wiki-pages
            = render @sidebar_wiki_entries, context: 'sidebar'
      .block.w-100
        - if @sidebar_limited
          = link_to wiki_path(@wiki, action: :pages), class: 'btn gl-button btn-block', data: { qa_selector: 'view_all_pages_button' } do
            = s_("Wiki|View All Pages")
